body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}

table {
    background-color: #595959;
}

.elements {
    color: #bbbbbb;
}

tr td {
    padding: 0 0 15px 0;
}

tr:nth-child(1) {
    font-size: 1.6rem;
}

td#noFormat, td#noFormatSecond {
    padding: 0;
}

#greenCircle {
    float: left;
    border: 5px solid #71b47a;
    border-radius: 100px;
    margin: 4px 2px 0 0;
}

.leftSide {
    color: white;
    width: 120px;
    font-style: italic;
}

.red {
    color: red;
    padding: none;
}

.orange {
    color: orange;
}

.yellow {
    color: #fff8b7;
}
