body {
    background-color: #A9A9A9;
}

#header {
    text-align: center;
}

#nav1,
#nav2,
#nav3 {
    text-decoration: none;
}

#nav2 {
    background-color: #D3D3D3;
}

nav ul li a {
    color: white;
}

li {
    list-style-type: none;
}

h1 {
    color: #FAFAD2;
}

section article footer p a {
    text-decoration: none;
    color: black;
}

footer#footer {
    text-align: center;
}